//VARIABLES

$colorprimario: rgb(255,255,255);
$colorSecundario: rgb(000,000,000);
$colorTerciario: rgb(95, 6, 6);
$sombreado: 0rem 0rem 2rem 0rem;
$fuenteTitulos:Arial, Helvetica, sans-serif;
$tamañoTitulos:7rem;



//ESTILOS GENERALES

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}


body {
	font-size: 1.6rem;
	background-image: linear-gradient(to right,$colorprimario,hsl(51, 74%, 64%));
}
.pie {
	width: 100%;
}

h1, h2, h3, h4{
	
	color: $colorTerciario;
}
h1, h2{
    font-family: 'Jost', sans-serif;
}

h2{
font-size: 3rem;

}

.social-bar {
	font-size: 16px;
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #8a3ab9;
}



.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}


.copyright{
text-align: center;
font-size: 10px;
}



@for $i from 1 through 5{

	.m-#{$i}{
		
		margin: $i rem  $i rem  $i rem  $i rem;
		

	}

}


@keyframes desplegar {
	from {
		height: 0;
	}
	to {
		height: 100%;
	}
}

@-webkit-keyframes zoom {
from {
		transform: scale(0);
 	}
	to {
 		transform: scale(1);
 	}
 }

 
@keyframes zoom {
	from {
		transform: scale(0.1);
	}
	to {
		transform: scale(1);
	}
}

@keyframes aparecer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes menuSlider {
	from {
		
	}
	to {
		
	}
}