
footer {
	border-top: 1px solid;
	box-shadow: 0px 0px 40px 0px;
	padding-bottom: 30px;
	background-color:black;
	width: 100%;
	margin-top: 100px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items:baseline;
	
	
}



.footer__contacto {
 	margin-top: 2rem;
	 h3{
		font-size: 2rem;
		color: white;
	 }
	 h4{
		color: white;
	}

}

.footer__horarios{
	
		h3{
			font-size: 2rem;
			color: white;
		}
		h4{
			color: white;
		}
}


.footer__redesSociales {
	
	padding-right: 2rem;
	font-size: 3rem;
	h3{
		font-size: 2rem;
		color: white;
	}
	h4{
		color: white;
	}

}
.redesSociales__iconos{

	display: flex;
	flex-direction: row;
	align-content:space-around;
	
	
}




$redesSociales: (
	instagram: #ffffff,
facebook:  #ffffff,
youtube: #ffffff,
whastapp: #ffffff

// instagram: rgb(241, 30, 189),
// facebook: rgb(69, 30, 241),
// youtube:rgb(241, 18, 18),
// whastapp:rgb(5, 168, 32)
);

@each $red, $color in $redesSociales{

	.redesSociales__Link--#{$red}{

		margin-left: 1.5rem;
		color:$color

	}


}

@media (max-width:768px) {

footer{
padding-bottom: 0px;
	flex-direction:column;
align-items: center;
align-content: space-around;

}


.footer__contacto {
	text-align: center;
	margin: 1rem auto 1rem auto;
	border-bottom: dotted white;
	border-width: 1px;
	margin-bottom: 10px;
	
}
.footer__horarios {
	text-align: center;
	margin: 1rem auto 1rem auto;
	border-bottom: dotted white;
	border-width: 1px;
	margin-bottom: 10px;
}

.footer__redesSociales {
	
	text-align: center;
	margin: 1rem auto 1rem auto;
	font-size: 2.5rem;
	padding: 0px;

}




}
